html {
  background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
  min-height: 100vh;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 500px;
  margin: 2em auto;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.104);
  padding-bottom: 0.5em;
}

h1 {
  text-align: center;
  padding-top: 0.5em;
}

#nav {
  margin-left: 2em;
}

#nav a {
  background-color: navy;
  color: #fff;
  border-radius: 0.3em;
  padding: 0.5em;
  text-decoration: none;
  margin-right: 1em;
  display: inline-block;
}

#nav a:active {
  transform: scale(0.9);
  opacity: 0.7;
}

#lat_lon {
  margin-left: 2em;
  margin-bottom: 1em;
  line-height: 1.3;
}

#weather_info {
  margin-left: 2em;
  line-height: 1.3;
}

#measurements {
  margin-left: 2em;
}

/* #measurements p:nth-of-type(even) {
  color: navy;
} */

label {
  margin-left: 2em;
}

input {
  margin-left: 1em;
}

button {
  display: block;
  margin: 1.5em auto;
}

video {
  /* width: 50%; */
  display: block;
  margin: 0 auto;
}
